{% extends "main/base.html" %}

{% load uni_form_tags %}

{% block title %}{% block description %}Password change{% endblock %}{% endblock %}

{% block jquery %}
$("#password_change_form").validate("{% url ajax_validation-validate_password_change_form %}", {callback: uniform_callback});
$("a.cancel").button({
    icons: {
        primary: "ui-icon-cancel"
    }
});
{% endblock %}

{% block content %}
<h1>Password change</h1>
<p>Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.</p>
<form action="." method="post" id="password_change_form" class="uniForm">
    {% csrf_token %}
    {{ form|as_uni_form }}
    <div class="buttonHolder">
        <input type="submit" value="Change my password" class="primaryAction" />
    </div>
</form>
<p><a href="{% url main-profile %}" class="cancel">Cancel and discard all unsaved changes</a></p>
{% endblock %}