{% extends "main/base.html" %}

{% load uni_form_tags %}

{% block title %}{% block description %}Password reset{% endblock %}{% endblock %}

{% block jquery %}
$("#set_password_form").validate("{% url ajax_validation-validate_set_password_form %}", {callback: uniform_callback});
{% endblock %}

{% block content %}
{% if validlink %}
    <h1>Enter new password</h1>
    <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
    <form action="." method="post" id="set_password_form" class="uniForm">
        {% csrf_token %}
        {{ form|as_uni_form }}
        <div class="buttonHolder">
            <input type="submit" value="Change my password" class="primaryAction" />
        </div>
    </form>
{% else %}
    <h1>Password reset unsuccessful</h1>
    <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
{% endif %}
{% endblock %}