{% extends "main/base.html" %}

{% block title %}{% block description %}Appointments{% endblock %}{% endblock %}

{% block jquery %}
{% if is_participant %}
    $("a.cancel").button({
        icons: {
            primary: "ui-icon-cancel"
        }
    }).click(function() {
        var the_button = $(this);
        $("<div><p>Are you sure that you want to cancel this appointment?</p></div>").dialog({
            modal: true,
            buttons: {
                "Yes": function() {
                    var the_dialog = $(this);
                    $.post(
                        the_button.attr("href"),
                        function(response) {
                            the_dialog.find("p").html(response);
                            the_dialog.dialog("option", "buttons", {});
                            the_button.button("option", "disabled", true);
                            the_button.parent("td").siblings("td").eq(-1).html("yes");
                        }
                    );
                },
                "No": function() {
                    $(this).dialog("close");
                }
            },
            close: function(event, ui) {
                        $(this).remove();
                   }
        });
        return false;
    });
    $("a.disabled").button("option", "disabled", true);
{% else %}
    {# to-do #}
{% endif %}
$("a.back").button({
    icons: {
        primary: "ui-icon-arrowthick-1-w"
    }
});
$("table.datatable").dataTable({
    "aoColumnDefs": [
        {
            "bSortable": false,
            "aTargets": [-1]
        }
    ],
    "bJQueryUI": true,
    "sPaginationType": "full_numbers"
});
{% endblock %}

{% block content %}
<h1>Appointments</h1>
{% if appointments %}
    <table class="pretty datatable">
        <thead>
            <tr>
                <th>Participant</th>
                <th>Name</th>
                <th>Date</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Is Cancelled?</th>
                {% if is_participant %}
                    <th>Cancel</th>
                {% else %}
                    {# to-do #}
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for appointment in appointments %}
                <tr>
                    <td>{{ appointment.participant }}</td>
                    <td>{{ appointment.slot.experiment_date_time_range.experiment_date.experiment.name }}</td>
                    <td>{{ appointment.slot.experiment_date_time_range.experiment_date.date }}</td>
                    <td>{{ appointment.slot.start_time }}</td>
                    <td>{{ appointment.slot.end_time }}</td>
                    <td>{{ appointment.is_cancelled|yesno }}</td>
                    {% if is_participant %}
                        <td><a href="{% url main-cancel_appointment appointment.id %}" class="cancel{% if appointment.is_cancelled %} disabled{% endif %}">Cancel</a></td>
                    {% else %}
                        {# to-do #}
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>There are no appointments, yet.</p>
{% endif %}
<p><a href="{% url main-index %}" class="back">Go back</a></p>
{% endblock %}