{% extends "main/base.html" %}

{% block title %}{% block description %}Appointments{% endblock %}{% endblock %}

{% block jquery %}
{% if is_participant %}
    $("a.edit").button({
        icons: {
            primary: "ui-icon-pencil"
        }
    });
{% else %}
    {# to-do #}
{% endif %}
$("a.back").button({
    icons: {
        primary: "ui-icon-arrowthick-1-w"
    }
});
{% endblock %}

{% block content %}
<h1>Appointments</h1>
{% if appointments %}
    <table class="pretty">
        <thead>
            <tr>
                <th>Participant</th>
                <th>Name</th>
                <th>Date</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Is Cancelled?</th>
                {% if is_participant %}
                    <th>Edit</th>
                {% else %}
                    {# to-do #}
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for appointment in appointments %}
                <tr>
                    <td>{{ appointment.participant }}</td>
                    <td>{{ appointment.slot.experiment_date_time_range.experiment_date.experiment.name }}</td>
                    <td>{{ appointment.slot.experiment_date_time_range.experiment_date.date }}</td>
                    <td>{{ appointment.slot.start_time }}</td>
                    <td>{{ appointment.slot.end_time }}</td>
                    <td>{{ appointment.is_cancelled|yesno }}</td>
                    {% if is_participant %}
                        <td><a href="{% url main-edit_appointment appointment.id %}" class="edit">Edit</a></td>
                    {% else %}
                        {# to-do #}
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>There are no appointments, yet.</p>
{% endif %}
<p><a href="{% url main-index %}" class="back">Go back</a></p>
{% endblock %}