<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<title>{{ SITE_NAME }} | {% block title %}{% endblock %}</title>
<meta name="description" content="{% block description %}{% endblock %}" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/reset.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery-ui-1.8.16.custom.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery.ui.timepicker.css " />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery.datatables.jui.css " />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/uni-form.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/default.uni-form.css" />
<!--<link rel="icon" type="image/x-icon" href="{{ STATIC_URL }}favicon.ico" />-->
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.6.4.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.8.16.custom.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.ui.timepicker.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ajax-validation.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-django-csrf.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-uni-form.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/uni-form.jquery.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.dataTables.min.js"></script>

<script type="text/javascript">
//<![CDATA[
$(document).ready(function() {
    $("#menu a").button();
    $("#menu a.active").button("option", {
        icons: {
            primary: "ui-icon-star"
        }
    });
    $("form.uniForm").uniform();
    $("input.dateinput").datepicker({dateFormat: "yy-mm-dd", constrainInput: false});
    $("input.timeinput").timepicker({zIndex: 1, showPeriodLabels: false});
    $(":input:visible:enabled").each(function() {
        if (($(this).val() == "" || $(this).parent().hasClass("error")) && !$(this).hasClass("timeinput") && !$(this).hasClass("dateinput")){
           $(this).select();
           return false;
        }
    });
    {% block jquery %}{% endblock %}
    $(".pretty-links a").not(".ui-state-default").css("border-bottom", "1px solid #999999").hover(
        function () {
            $(this).css("border-bottom", "none").css("background", "#eeeeee");
        },
        function () {
            $(this).css("border-bottom", "1px solid #999999").css("background", "none");
        }
    );
});
//]]>
</script>
</head>
<body>
    <div id="container">
        <div id="header">
            <a href="{% url main-index %}"><img src="{{ STATIC_URL }}images/header.jpg" alt="{{ SITE_NAME }}" /></a>
        </div>
        {% if user.is_authenticated %}
            <div id="welcome">
                <span>Welcome, {{ user.get_full_name|default:user.username }}</span>
            </div>
        {% endif %}
        <div id="menu">
            <a href="{% url main-index %}"{% if active.home %} class="active"{% endif %}>Home</a>
            {% if user.is_authenticated %}
                <a href="{% url main-list_experiments %}"{% if active.experiments %} class="active"{% endif %}>Experiments</a>
                <a href="{% url main-profile %}"{% if active.profile %} class="active"{% endif %}>Profile</a>
                <a href="{% url main-list_appointments %}"{% if active.appointments %} class="active"{% endif %}>Appointments</a>
                <a href="{% url auth_logout %}">Log out</a>
            {% else %}
                <a href="{% url auth_login %}"{% if active.log_in %} class="active"{% endif %}>Log in</a>
                <a href="{% url registration_register %}"{% if active.sign_up %} class="active"{% endif %}>Sign up</a>
            {% endif %}
        </div>
        <div id="content" class="pretty-links">
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% block content %}{% endblock %}
        </div>
        <div id="footer" class="pretty-links">
            <p>&copy; <a href="http://hci.{{ SITE_DOMAIN }}">{{ SITE_NAME }}</a> {{ YEAR }} | <a href="{% url admin:index %}">Administration</a></p>
        </div>
    </div>
</body>
</html>
