{% extends "main/base.html" %}

{% block title %}{% block description %}Appointments for {{ experiment }}{% endblock %}{% endblock %}

{% block jquery %}
$("a.back").button({
    icons: {
        primary: "ui-icon-arrowthick-1-w"
    }
});
$("table.datatable").dataTable({
    "bJQueryUI": true,
    "sPaginationType": "full_numbers",
    "sDom": '<"H"lfrT>t<"F"ip>',
    "oTableTools": {
        "sSwfPath": "{{ STATIC_URL }}copy_cvs_xls_pdf.swf"
    }
});
{% endblock %}

{% block content %}
<h1>Appointments for {{ experiment }}</h1>
{% if appointments %}
    <table class="pretty datatable">
        <thead>
            <tr>
                <th>Participant</th>
                <th>Email Address</th>
                <th>Phone Number</th>
                <th>Date</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Is Cancelled?</th>
            </tr>
        </thead>
        <tbody>
            {% for appointment in appointments %}
                <tr>
                    <td>{{ appointment.participant }}</td>
                    <td><a href="mailto:{{ appointment.participant.user.email }}">{{ appointment.participant.user.email }}</a></td>
                    <td>{{ appointment.participant.phone_number }}</td>
                    <td>{{ appointment.slot.experiment_date_time_range.experiment_date.date }}</td>
                    <td>{{ appointment.slot.start_time }}</td>
                    <td>{{ appointment.slot.end_time }}</td>
                    <td>{{ appointment.is_cancelled|yesno }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>There are no appointments, yet.</p>
{% endif %}
<p><a href="{% url main-list_appointments %}" class="back">Go back</a></p>
{% endblock %}